.App {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 10px;
}

.App div{
  min-width: 40%;
  max-width: 48%;
  /* border: 1px solid red; */
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 0px 6px #3333;
}

.source-file{
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 8px;
  color: #666;
  gap: 10px;
  margin-bottom: 5px;
}

.image-preview{
  display: flex;
  justify-content: space-around;
  border-radius: 29px;
  /* box-shadow: 0px 0px 6px #3333; */
  max-width: 100%;
  margin: 0 auto;
}

.progress{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 8px;
  color: #666;
}

footer{
  color: #666;
  width: max-content;
  margin: 10px auto;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}